# Python virtual environments
env/
.venv/
venv/

# Database files
db.sqlite3

# Batch files
up.bat

# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
django.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db